.list {
  display: flex;
  flex-wrap: wrap;
  margin: 5px;
  justify-content: center;
}

.image_main {
  width: 100%;
}

.old_price {
  margin-left: 70px;
  text-decoration: line-through;
}
.price {
  margin-left: 70px;
}
.title {
  text-align: center;
}
